<!-- div *ngIf="messageService.getMessages().length">  -->    <!-- Esse bloco só aparecerá se tiver alguma mensagem -->

<!--   <h2>Messages</h2>

  <button  color="warn" mat-raised-button (click)="messageService.clear()">Clear messages</button>

  <div *ngFor="let message of messageService.getMessages()">
    {{ message }}
  </div>
 -->

  <mat-accordion *ngIf="messageService.getMessages().length" >
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>

        <mat-panel-title>
          Message
        </mat-panel-title>

        <mat-panel-description>
          {{messageService.getMessages().length}} record(s)
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>
      <button  color="warn" mat-raised-button (click)="messageService.clear()">Clear messages</button>
      </p>



      <mat-list>
        <mat-list-item *ngFor="let message of messageService.getMessages()">
          {{ message }}
        </mat-list-item>
      </mat-list>

    </mat-expansion-panel>
  </mat-accordion>


